:root{
    --background-color-h-top: #000;
}
body{
    font-family: sans-serif;
    max-width: 1420px;

}
/* Header */
.ms_header_top{
    background-color: var(--background-color-h-top);
}

/*main*/
main{
    margin-top: 125px;
}
.sct_1_jumbo{
    
    
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
}
.sct_1_jumbo .row{
    padding-top: 200px;
}
.sct_2_cards img{
    width: 100%;
}
.section_4 img{
    width: 100%;
}

.active{
    border-bottom: 2px solid blue;
    
}

.active_h:hover{
    border-bottom: 2px solid blue;
}


.section_6{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    
    background-size: cover;
}



.section_8 img{
    width: 100%;
}

.section_11{
    background-color: rgb(17, 21, 45);
}
footer{
    background-color: rgb(2, 47, 138);
    font-size: 10px;
}

footer ul{
    list-style: none;
}

footer ul li a{
    color: white;
    text-decoration: none;
    list-style: none;
}

header button:hover{
    outline:1px solid black ;
    outline-offset: 2px;
    border: 1px solid black;
}

.b_red:hover{
    outline:1px solid red ;
    outline-offset: 2px;
    border: 1px solid red;
}

.b_blue:hover{
    outline:1px solid blue ;
    outline-offset: 2px;
    border: 1px solid blue;
}
.b_white:hover{
    outline:1px solid white ;
    outline-offset: 2px;
    border: 1px solid white;
}